NEXT_PUBLIC_API_BASE_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_MICROSOFT_CLIENT_ID=492cb948-f03f-4860-bb5b-48236ddd655c
NEXT_PUBLIC_MICROSOFT_TENANT_ID=b60a0c65-a3a1-4652-a271-786595256530
NEXT_PUBLIC_MICROSOFT_REDIRECT_URI=http://localhost:3000/auth/callback
